*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image:  url(wallpaper6.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	font-size: 20px;
	color: white;
	font-family: 'Flamenco', cursive;
	}
h1{
	color: white;
	font-size: 200%;
	word-spacing:5px;
	padding-top: 2%;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-weight: lighter;
}
.lorem{
	padding-top: 15%;
	padding-left: 50%;
}
.lorembutton{
	background: green;
	border: green;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	margin-top: 10px;
}
.lorembutton a{

	text-decoration: none;
	color: white;
	text-transform: uppercase;
}
.toprow{
	max-width: 1180px;
	margin: 0 ;
}
.logo{
	height: 35px;
	width: auto;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
.main-nav{
	float: right;
	margin-top: 1px;
}
.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}
.main-nav li a{
	padding-bottom: 5px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: 100;
}
.main-nav li a:hover{
	border-bottom: 2px solid white;
}
.main-content-header h1{
	color : white;
	position: absolute;
	padding-left: 5%;
	padding-top: 10%;
}
.colorchange{
	animation: colorchangecodebox 1s infinite;
}
@keyframes colorchangecodebox{
	0%{color: red;}
	25%{color: #bf55ec; }
	50%{color: white;}
	100%{color: #bf55ec;}
}
@media screen and (max-width: 600px){
	.main-content-header h1{
		font-size: 150%;
	}
}
@media screen and (max-width: 850px){
	h1{
		padding-top: 3.5%;
	}
}
@media screen and (max-width: 600px){
	.lorem h1{
		font-size: 150%;
	}
	.lorem p{
		font-size: 18px;
	}
}
