*{
	margin: 0px;
	padding: 0px;
}

body{
	background-image:  url(wallpaper6.jpg);
	
	background-size: cover;
	height: 100vh;
	font-size: 20px;
	
	color: white;
	font-family: 'Flamenco', cursive;
	}
h1{
	color: white;
	font-size: 200%;
	word-spacing:5px;
	padding-top: 1.75%;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-weight: lighter;
}


.toprow{
	max-width: 1180px;
	margin: 0 ;
}
.logo{
	height: 35px;
	width: auto;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
.main-nav{
	float: right;
	margin-top: 1px;
}
.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}
.main-nav li a{
	padding-bottom: 5px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: 100;
}
.main-nav li a:hover{
	border-bottom: 2px solid white;
}
.left-side h2{
	border-bottom: 1px solid grey;
	padding-bottom: 5px;
	padding-left: 8px;
	margin-left: 15px;
	width: 15%;
}
.doc1 button{
	margin-top: 20px;
	background-color: #4A4949   ;
	border-radius: 10px;
	border: none;
	width: 235px;
	height: 40px;
	margin-left: 20px;
}
.doc1 button a{
	text-decoration: none;
	color: white;
	font-size: 20px;

}
.new-file button{
	margin-top: 20px;
	background-color: black;   ;
	border:  dashed  3px grey;
	width: 110px;
	height: 40px;

	margin-left: 3%;

}
.new-file button a{
	color: white;
	text-decoration: none;
	font-size: 17px;
}
.new-file button a span{
	color: #4A4949;
	font-size: 25px;
}
.whitebox{
	position: absolute;
	margin-left: 27%;
	margin-top:-6.5%;
	display: inline-block;
	width:60%;
	height: 65%;
	background-color: white;
	border-radius: 10px;
}
.whitebox p{
	color: black;
	font-size: 25px;
	padding-top: .2%;
	padding-bottom: 1%;
	padding-left: 2%;
	margin-top: 2%;
	margin-left: 2%;
	background-color: grey;
	width: 4%;
	height: 4%;
}

.last button{

	margin-left: 65%;
	margin-top: 30%;
	margin-right: -63%;
}
.last button a{
	text-decoration: none;
	font-size: 18px;
	color: white;
    background-color: black;
	border-radius: 5px;
	border: 4px solid black ;
	width: 235px;
	height: 40px;
}
@media screen and (max-width:1400px){
	.doc1 button{
		width: 220px;
		height: 35px;
	}
	.doc1 button a{
		font-size: 18px;
	}
}
@media screen and (max-width:1200px){
	.doc1 button{
		width: 180px;
		height: 30px;
	}
	.doc1 button a{
		font-size: 15px;
	}
}
@media screen and (max-width:1000px){
	.doc1 button{
		width: 150px;
		height: 30px;
	}
	.doc1 button a{
		font-size: 15px;
	}
}


@media screen and (max-width:1300px){
	.last {
	    margin-top: 8%;
	}
	
}
@media screen and (max-width:1100px){
	.last {
	
	    margin-top: 15%;
	    
	}
	
}


@media screen and (max-width:950px){
	.last {
		
	    margin-top: 23%;
	    
	}
	
}
@media screen and (max-width:810px){
	.last {
		
	    margin-top: 35%;
	    
	}
	
}
@media screen and (max-width:700px){
	.last {
		
	    margin-top: 45%;
	   
	}
	
}
@media screen and (max-width:600px){
	.last {
		
	    margin-top: 55%;
	    
	}
	
}
@media screen and (max-width:500px){
	.last {
		
	    margin-top: 65%;
	    
	}
	
}
@media screen and (max-width:400px){
	.last {
		
	    margin-top: 75%;
	   
	}
	
}














